!.babelrc.js
!**/.babelrc.js
!.eslintrc.js
!**/.eslintrc.js
**/lib
lib
**/dist
dist
node_modules
coverage
.jest

src/__tests__/__fixtures__/**
temp/**
tsdoc-metadata.json

docs/api/*.md
docs/etc/*.md
CHANGELOG.md
